.container {
  background-color:black;
}

.container h1 {
   text-align: center;
   color: white;
   font-size: 45px;
}

.container h2 {
  text-align: center;
  font-family: Arial;
  font-size: 35px;
  color: white;
  padding:15px;
}

img {
  height:300px;
  width:500px;
}

p {
  text-align: center;
  color:pink;
}
